---
title: Blogs
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <div class="main-container main-container_pt_sm">
 
      <h1 class="title-h1 title-h1_mb_mid title-h1_grayDark">Блоги</h1>

      <div class="tabs js-tabs">
        <div class="tabs__head">
          <ul class="tabs__list">
            <li class="tabs__item js-tabs-item is-active"><a href="" class="tabs__link nav-tag">Последние</a></li>
            <li class="tabs__item js-tabs-item"><a href="" class="tabs__link nav-tag">Лучшие</a></li>
          </ul>
        </div>
        <div class="tabs__body">
          <div class="tabs__content is-active js-tabs-content">
            <!-- BEGIN rubric-bl -->
            <div class="rubric-bl rubric-bl_no-border">
                <div class="row row_trim">

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END rubric-bl -->
          </div>

          <div class="tabs__content js-tabs-content">
            <!-- BEGIN rubric-bl -->
            <div class="rubric-bl rubric-bl_no-border">
                <div class="row row_trim">

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>

                    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
                        <div class="card card_sm">
                          <a href="" class="card__inner blog-post">
                            
                            <div class="card__top">
                              <div class="blog-post__header">
                                <div class="blog-post__avatar">
                                  <img src="../img/avatar.png" alt="">
                                </div>
                                <div class="blog-post__data">
                                  <div class="card__date blog-post__date tag tag_red">22 августа</div> 
                                  <h3 class="blog-post__author ">Mitrofanov Mitrofanov</h3>
                                </div> 
                              </div>
                            </div>
                            <div class="card__bottom">
                              <div class="blog-post__body">
                                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
                              </div>
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END rubric-bl -->
          </div>
        </div>
      </div>

        <button class="btn btn-toggle btn_block">Показать еще</button>

    </div>


{% endblock %}
