<!-- BEGIN footer -->
<div class="footer">
	<div class="footer-section footer-section_right">
		<div class="socials">
            <a href="" class="social social_black social_vk">
                {{mixins.icon('vk')}}
            </a>
            <a href="" class="social social_black social_fb">
                {{mixins.icon('fb')}}
            </a>
            <a href="" class="social social_black social_ytb">
                {{mixins.icon('ytb')}}
            </a>
		</div>
	</div>
	<div class="footer-section footer-section_center ">
		<nav class="nav nav_footer">
			<ul class="nav__list">
				<li class="nav__item"><a href="" class="nav__link">О проекте</a></li>
				<li class="nav__item"><a href="" class="nav__link">Реклама</a></li>
				<li class="nav__item"><a href="" class="nav__link nav__link_red">Сайт концерна {{mixins.icon('arr_corner')}}</a></li>
			</ul>
		</nav>
	</div>
	<div class="footer-section footer-section_left">
		<div class="copyright nav-tag">© Калашников Медиа 2017</div>
	</div>
</div>
<!-- END footer -->