<div class="popup popup_socials js-popup" data-modal='socials-mob'>
	<div class="popup__inner popup__inner_pad_mod js-popup-inner">
		<div class="popup__btns">
			<div class="socials socials_popup">
	            <a href="" class="social social_fb">
	            	<span class="social__inner">
		            	{{mixins.icon('fb')}}
		            	<span class="social__count">12</span>
	            	</span>
            	</a>
	            <a href="" class="social social_vk">
	            	<span class="social__inner">
		            	{{mixins.icon('vk')}}
		            	<span class="social__count">12</span>
	            	</span>
            	</a>
	            <a href="" class="social social_ok">
	            	<span class="social__inner">
		            	{{mixins.icon('ok')}}
		            	<span class="social__count">12</span>
	            	</span>
            	</a>
	            <a href="" class="social social_tw">
	            	<span class="social__inner">
		            	{{mixins.icon('tw')}}
		            	<span class="social__count">12</span>
	            	</span>
            	</a>
	            <a href="" class="social social_envelope">
	            	<span class="social__inner">
		            	{{mixins.icon('envelope')}}
	            	</span>
	            </a>
	            <a href="" class="social social_chain">
	            	<span class="social__inner">
		            	{{mixins.icon('chain')}}
	            	</span>
	            </a>
	        </div>
	        <div class="popup__share">
	            <a href="" class="social social_right social_rotate social_dots js-popup-close">
	            	{{mixins.icon('dots')}}
	            </a>
	        	<div class="share-info share-info_popup">
		            {{mixins.icon('share')}}
		            <span class="share-info__value">12</span>
		            <span class="share-info__text">поделились</span>
		        </div>
	        </div>
		</div>
	</div>
</div>