<div class="popup js-popup" data-modal='authentication'>
	<div class="popup__inner js-popup-inner">
		<div class="popup__close">
			<button class="popup__close-btn js-popup-close">
				{{mixins.icon('close')}}
			</button>
		</div>
		<div class="popup__title title-h3 title-h3_grayDark">Войдите, чтобы оставлять комментарии</div>
		<div class="popup__btns">
			<a href="" class="social-link social-link_fb">фейсбук</a>
			<a href="" class="social-link social-link_vk">вконтакте</a>
			<a href="" class="social-link social-link_ok">однокласники</a>
		</div>
	</div>
</div>