<div class="row row_trim">

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-promo">
            <div class="card-promo__img" style="background-image: url(./img/fetter.png);">
              <!-- <img src="../img/fetter.png" alt=""> -->
            </div>
            <div class="card__top">
              <div class="card__tag tag tag_red"><span>промо</span></div>
              <div class="card-promo__logo"><img src="../img/fetter-logo.png" alt=""></div>
            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3 title-h3_grayDark">Магнум Феттер 76 ММ от <span class="text-red">24 рублей</span></h3>
              <div class="card__arrow">
                {{mixins.icon('arr_right')}}
              </div>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

        <div class="card card_sm">
          <a href="" class="card__inner card-gallery">
            
            <div class="card-gallery__images">
              <span class="card-gallery__img" style="background-image: url(./img/image-4.png);" data-order='4'></span>
              <span class="card-gallery__img" style="background-image: url(./img/image-3.png);" data-order='3'></span>
              <span class="card-gallery__img" style="background-image: url(./img/image-2.png);" data-order='2'></span>
              <span class="card-gallery__img " style="background-image: url(./img/image-1.png);" data-order='1'></span>
            </div>

            <div class="card__bottom">
                <h3 class="card__title title-h3 title-h3_grayDark" data-height="40"><span class="text-red">25 фото</span> с крупнейшей в мире выставки вооружений IDEX-2017</h3>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-news card-video_news">
            <div class="card__overlay">
            </div>
            <div class="card__pic ">
              <div class="card__pic-img" style="background-image: url(./img/kater.png);"></div>
              <!-- <img src="../img/kater.png" class="card__img" alt=""> -->

            </div>
            <div class="card__top">
              <div class="card__tag tag"><span>выставки</span></div>
            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3">Концерн представил новый катер «Грачонок»</h3>

              <div class="card__descr text text_sm text_white ">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</div>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-news card-video_news">
            <div class="card__overlay">
            </div>
            <div class="card__pic ">
              <div class="card__pic-img" style="background-image: url(./img/kater.png);"></div>
              <!-- <img src="../img/kater.png" class="card__img" alt=""> -->

            </div>
            <div class="card__top">

              <div class="card__tag tag"><span>выставки</span></div>

            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3">Концерн представил новый катер «Грачонок»</h3>

              <div class="card__descr text text_sm text_white ">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</div>

            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

        <div class="card card_sm">
          <a href="" class="card__inner card-gallery">
            
            <div class="card-gallery__images">
              <span class="card-gallery__img" style="background-image: url(./img/image-4.png);" data-order='4'></span>
              <span class="card-gallery__img" style="background-image: url(./img/image-3.png);" data-order='3'></span>
              <span class="card-gallery__img" style="background-image: url(./img/image-2.png);" data-order='2'></span>
              <span class="card-gallery__img " style="background-image: url(./img/image-1.png);" data-order='1'></span>
            </div>

            <div class="card__bottom">
                <h3 class="card__title title-h3 title-h3_grayDark" data-height="40"><span class="text-red">25 фото</span> с крупнейшей в мире выставки вооружений IDEX-2017</h3>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-post card-post_bg">
            <div class="card__bottom">
              <div class="card__date tag tag_red">11 августа</div>
              <h3 class="card__title title-h3 title-h3_grayDark">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</h3>

            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-promo">
            <div class="card-promo__img" style="background-image: url(./img/fetter.png);">
              <!-- <img src="../img/fetter.png" alt=""> -->
            </div>
            <div class="card__top">
              <div class="card__tag tag tag_red"><span>промо</span></div>
              <div class="card-promo__logo"><img src="../img/fetter-logo.png" alt=""></div>
            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3 title-h3_grayDark">Магнум Феттер 76 ММ от <span class="text-red">24 рублей</span></h3>
              <div class="card__arrow">
                {{mixins.icon('arr_right')}}
              </div>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

        <div class="card card_sm">
          <a href="" class="card__inner blog-post">
            
            <div class="card__top">
              <div class="blog-post__header">
                <div class="blog-post__avatar">
                  <img src="../img/avatar.png" alt="">
                </div>
                <div class="blog-post__data">
                  <div class="card__date blog-post__date tag tag_red">11 августа</div> 
                  <h3 class="blog-post__author ">Tomas Mitrofanov</h3>
                </div> 
              </div>
            </div>
            <div class="card__bottom">
              <div class="blog-post__body">
                <h3 class="blog-post__title title-h3 title-h3_grayDark">Про «Арк»</h3>
                <div class="blog-post__content">С моей точки зрения платформа AR-15 является одной из самых успешных из того, что доступно в формате гражданской винтовки/карабина</div>
              </div>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-news card-video_news">
            <div class="card__overlay">
            </div>
            <div class="card__pic ">
              <div class="card__pic-img" style="background-image: url(./img/kater.png);"></div>
              <!-- <img src="../img/kater.png" class="card__img" alt=""> -->

            </div>
            <div class="card__top">
              <div class="card__tag tag"><span>выставки</span></div>
            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3">Концерн представил новый катер «Грачонок»</h3>

              <div class="card__descr text text_sm text_white ">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</div>
            </div>
          </a>
        </div>
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        {{cards.cardVideo({
          wrapperClass: "video-wrapper_sm",
          sourceVideo: 'http://vjs.zencdn.net/v/oceans',
          cardLabel: './img/label-logo.png',
          cardOverlay: true,
          cardOverlayClass: '',
          cardPicClass: 'card__pic_mix',
          cardPicPoster: './img/vystavka.png',
          iconPlaySize: 'icon-play_mid',
          cardTitleClass: 'title-h3',
          cardTitleText: 'Концерн представил новый катер «Грачонок»'
          })
        }}
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">

        {{cards.cardVideo({
          wrapperClass: "video-wrapper_sm card-video_weapon",
          sourceVideo: 'http://vjs.zencdn.net/v/oceans',
          cardTag: 'испытание',
          cardOverlay: true,
          cardPicClass: 'card__pic_outer card__pic_lgray',
          cardPicPoster: './img/video2.png',
          iconPlaySize: 'icon-play_mid',
          cardTitleClass: 'title-h3',
          cardTitleText: 'Первые испытания высокоточной снайперской винтовки ВСВ-338'
          })
        }}
    </div>

    <div class="col-33 col-md-50 col-sm-50 col-xs-full">
        <div class="card card_sm">
          <a href="" class="card__inner card-news card-video_news">
            <div class="card__overlay">
            </div>
            <div class="card__pic ">
              <div class="card__pic-img" style="background-image: url(./img/kater.png);"></div>
              <!-- <img src="../img/kater.png" class="card__img" alt=""> -->

            </div>
            <div class="card__top">
              <div class="card__tag tag"><span>выставки</span></div>
            </div>
            <div class="card__bottom">
              <h3 class="card__title title-h3">Концерн представил новый катер «Грачонок»</h3>

              <div class="card__descr text text_sm text_white ">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</div>
            </div>
          </a>
        </div>
    </div>

</div>