<div class="row row_slider">
    <div class="slider-interest js-slider-interest">
        <div class="col-50 col-50_lg col-xs-full">
            {{cards.cardVideo({
                wrapperClass: "video-wrapper_mid card-video_online",
                sourceVideo: 'http://vjs.zencdn.net/v/oceans',
                cardTag: 'прямая трансляция',
                cardTagClass: 'tag_lg tag_red',
                cardOverlay: true,
                cardPicPoster: './img/video.png',
                iconPlaySize: 'icon-play_lg',
                cardTitleText: 'Беспилотные комплексы Концерна ZALA борются с браконьерами'
              })
            }}
        </div>
        <div class="col-50 col-50_lg col-xs-full">
            {{cards.cardVideo({
              wrapperClass: "video-wrapper_mid card-video_weapon",
              sourceVideo: 'http://vjs.zencdn.net/v/oceans',
              cardTag: 'оружие изнутри',
              cardTagClass: 'tag_grayDark',
              cardTagIcon: 'ak',
              cardOverlay: true,
              cardPicClass: 'card__pic_outer card__pic_yellow',
              cardPicPoster: './img/ak-full.png',
              iconPlaySize: 'icon-play_lg',
              cardTitleClass: 'title-h3 title-h3_grayDark',
              cardTitleText: 'Беспилотные комплексы Концерна ZALA борются с браконьерами'
              })
            }}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-33 col-sm-50 col-xs-full">
      {{cards.cardVideo({
        wrapperClass: "video-wrapper_sm",
        sourceVideo: 'http://vjs.zencdn.net/v/oceans',
        cardTag: 'звездный расстрел',
        cardOverlay: true,
        cardPicPoster: './img/videobg2.jpg',
        cardPicForward: './img/galustyan.png',
        iconPlaySize: 'icon-play_mid',
        cardTitleClass: 'title-h3',
        cardTitleText: 'Выстрел из танка'
        })
      }}
    </div>

    <div class="col-33 col-sm-50 col-xs-full">
      {{cards.cardVideo({
        wrapperClass: "video-wrapper_sm card-video_weapon",
        sourceVideo: 'http://vjs.zencdn.net/v/oceans',
        cardTag: 'оружие изнутри',
        cardTagClass: 'tag_grayDark',
        cardTagIcon: 'ak',
        cardOverlay: true,
        cardPicClass: 'card__pic_outer card__pic_lgray',
        cardPicPoster: './img/gun1.png',
        iconPlaySize: 'icon-play_mid',
        cardTitleClass: 'title-h3 title-h3_grayDark',
        cardTitleText: 'Беспилотные комплексы Концерна ZALA борются с браконьерами'
        })
      }}
    </div>

    <div class="col-33 col-sm-50 col-xs-full">
        {{cards.cardVideo({
          wrapperClass: "video-wrapper_sm card-video_weapon",
          sourceVideo: 'http://vjs.zencdn.net/v/oceans',
          cardTag: 'испытание',
          cardOverlay: true,
          cardPicPoster: './img/video2.png',
          iconPlaySize: 'icon-play_mid',
          cardTitleClass: 'title-h3',
          cardTitleText: 'Первые испытания высокоточной снайперской винтовки ВСВ-338'
          })
        }}
    </div>
</div>