<div class="row row_left">
    <div class="slider-news js-slider-news">
        <div class="col-25">
            <div class="card card_news">
              <a href="" class="card__inner card-post card-post_transparent">

                <div class="card__top">
                  <div class="card__date date date_red">11 августа</div>
                  <h3 class="card__title title-h3 title-h3_grayDark">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</h3>

                </div>
              </a>
            </div>
        </div>
        <div class="col-25">
            <div class="card card_news">
              <a href="" class="card__inner card-post card-post_transparent">

                <div class="card__top">
                  <div class="card__date date date_red">11 августа</div>
                  <h3 class="card__title title-h3 title-h3_grayDark">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</h3>

                </div>
              </a>
            </div>
        </div>
        <div class="col-25">
            <div class="card card_news">
              <a href="" class="card__inner card-post card-post_transparent">

                <div class="card__top">
                  <div class="card__date date date_red">11 августа</div>
                  <h3 class="card__title title-h3 title-h3_grayDark">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</h3>

                </div>
              </a>
            </div>
        </div>
        <div class="col-25">
            <div class="card card_news">
              <a href="" class="card__inner card-post card-post_transparent">

                <div class="card__top">
                  <div class="card__date date date_red">11 августа</div>
                  <h3 class="card__title title-h3 title-h3_grayDark">Беспилотные комплексы Концерна ZALA будут бороться с браконьерами</h3>

                </div>
              </a>
            </div>
        </div>
    </div>
</div>