.icon-ak {
  width: 0.3em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-circle {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arr_corner {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arr_right {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
}
.icon-arr_slide {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-blocks {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-chain {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-contact {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-dots {
  width: 4.6em;
  height: 1em;
  fill: currentColor;
}
.icon-envelope {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 0.46em;
  height: 1em;
  fill: currentColor;
}
.icon-list {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
}
.icon-ok {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-rubric {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-share {
  width: 1.54em;
  height: 1em;
  fill: currentColor;
}
.icon-tile {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tw {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.71em;
  height: 1em;
  fill: currentColor;
}
.icon-ytb {
  width: 1.42em;
  height: 1em;
  fill: currentColor;
}

 